.header-area {
    background-color: #ffffff;
    position: sticky;
    padding: 0 15px;
}

.header-area .logo {
    color: #090a0c;
    padding: 0; 
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    font-weight: 400;
}

.nav-menu .nav-link {
    font-size: 16px;
    letter-spacing: 0.035rem;
    margin-right: 40px;
    padding: 30px 0 !important;
    color: #090a0c !important;
    transition: all 0.3s;
}

@media only screen and (max-width: 992px){
    .nav-menu .nav-link{
        font-style: 15px;
        padding: 12px 0 !important;
    }
    .nav-right{
    margin-bottom: 45px;
}
}

.nav-menu .nav-link.active,
.nav-link:hover {
    color: #384aeb !important;
}

.nav-right .nav-item {
    display: inline-block;
    margin-right: 15px;
    position: relative;
}

.nav-right .nav-item:last-child {
    margin-left: 25px;
}

.nav-right i {
    color: #090a0c;
}

.nav-right .nav-badge{
    font-size: 9px;
    text-align: center;
    line-height: 10px;
    padding: 2px 5px 2px 5px;
    position: absolute;
    top: -7px;
    left: 13px;
}

.nav-right .nav-item .button {
    display: inline-block;
    border: 1px solid #384aeb;
    border-radius: 35px;
    background: #384aeb;
    font-weight: 500;
    padding: 10px 40px;
    color: #ffffff;
}

.nav-right .nav-item .button-area {
    border: 1px solid #c1ccd0d1;
    border-radius: 35px;
    background: #ffffff;
    color: #090a0c;
}

.header-area .navbar .navToggler:focus{
    box-shadow: none;
}

.header-area .navbar .navToggler .icon-bar i{
    font-size: x-large;
}
/* Header-Nav-menu-end */

/* Blog-post-categories */

.pt-pb-100px{
    padding: 100px 0;
}

.post-categories .post-categories-details{
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    background-color: rgb(0,0,0,0.7);
}

.post-categories .post-categories-text p{
    font-size: 15px;
    font-weight: 300;
    line-height: 4;
}

/* Blog-post-categories-end*/

/* Blog-post-area */

/* Blog-left-sidebar */
.blog-post-item{
    margin-bottom: 35px;
}

.blog-left-sidebar .blog-info{
    padding-bottom: 30px;
    text-align: right;
}

@media only screen and (max-width: 768px) {
    .blog-left-sidebar .blog-info{
        padding-bottom: 30px;
        text-align: left;
    }    
}

.blog-info .blog-post-list li a{
    display: inline-block;
    color: #777;
    padding-bottom: 10px;
    font-size: 14px;
}

.blog-info .blog-post-list li a i{
    font-size: 16px;
    color: #090a0c;
    padding-left: 10px;
}

.blog-post .post-details h2{
    font-size: 24px;
    font-weight: 600;
    font-family: oswald,sans-serif;
    line-height: 36px;
}

.blog-post .post-details p{
    margin-bottom: 22px;
    line-height: 1.8;
}

.blog-post .post-details .button-post{
    display: inline-block;
    padding: 5px 30px;
    border: 1px solid #ccc;
    border-radius: 0;
    background-color: #f6f6ff;
    color: #090a0c;
    font-weight: 500;
}

.blog-pagination{
    padding-top: 30px;
    padding-bottom: 90px;
}

.page-item .link-item span{
    font-size: 15;
    padding: 3px;
}

.page-item .link-item{
    color: #777;
    padding: 8px 12px;
    background-color: transparent;
}

.page-item.active .link-item,.link-item:hover{
    color: #fff;
    background-color: #384aeb;
} 
/* Blog-left-sidebar-end */

/* Blog-right-sidebar */
.blog-right-sidebar{
    border: 1px solid #ccc;
    padding: 30px;
    background: #f5f5f9;
    margin-bottom: 65px;
}

.section-sidebar .input-group .input-src{
    font-size: 14px;
    width: 100%;
    border: 0;
    border-radius: 45px!important;
    padding: 10px 10px 10px 20px;
    background: #384aeb;
    box-shadow: none;
}

.section-sidebar .input-group .input-src:focus{
    color: #fff;
    z-index: 0;
}

.section-sidebar .input-group .input-src::placeholder{
    color: #fff !important;
}

.section-sidebar .input-group .button-src{
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    border: 0;
    padding: 0;
    color: #fff;
    font-size: 14px;
    background: transparent;
}

hr{
    width: 100%;
    margin: 30px 0;
    background: #d8d1d1;
}

.blog-right-sidebar .author-area h4{ 
    font-size: 20px;
    font-family: "Oswald",sans-serif;
    margin-top: 30px;
    margin-bottom: 5px;
}

.blog-right-sidebar .author-area .social-icon{
    padding: 5px 0 15px;
}

.blog-right-sidebar .author-area .social-icon a{
    font-size: 14px;
    margin-left: 20px;
}

.blog-right-sidebar .author-area .social-icon a:first-child{
    margin-left: 0;
}

.blog-right-sidebar .author-area p{
    line-height: 1.8;
}

.blog-right-sidebar .section-sidebar .headerTitle{ 
    font-size: 20px;
    font-weight: 500;
    font-family: "Oswald",sans-serif;
    text-align: center;
    color: #fff;
    background: #384aeb;
    line-height: 20px;
    padding: 10px 0;
    margin-bottom: 30px
}

.blog-right-sidebar .popular-post h5{
    font-size: 14px;
    font-family: "Oswald",sans-serif;
}


.blog-right-sidebar .post-categories-area .list-categorie li {
    border-bottom: 2px dotted #d8d1d1;
    padding-bottom: 12px;
}

.blog-right-sidebar .post-categories-area .list-categorie li:not(:first-child) {
    padding-top: 12px;
}

.blog-right-sidebar .post-categories-area .list-categorie li a{
    font-size: 14px;
    color: #777;
}

.blog-right-sidebar .newsletter-area p{
    line-height: 1.8;
}

.blog-right-sidebar .newsletter-area .form-group .input-group .input-before{  
    font-size: 12px;
    border: 1px solid #ECF0F1;
    border-radius: 0;
    border-right: 0;
    background: #fff;
    padding: 0 0 0 15px;
}

.blog-right-sidebar .newsletter-area .form-group .input-group .input-before i{
    color: #ccc;
}

.blog-right-sidebar .newsletter-area .form-group .input-group .input-contrl{
    font-size: 12px;
    border: 1px solid #ECF0F1;
    border-radius: 0;
    border-left: 0;
    line-height: 26px;
    color: #ccc;
    box-shadow: none;
}

.blog-right-sidebar .newsletter-area .form-group .input-group .btnSubs{
    font-size: 12px;
    border: 0;
    border-radius: 0;
    font-weight: 500;
    background: #384aeb;
    padding: 0 21px;
}

.blog-right-sidebar .tag-clouds-area ul li a{    
    font-size: 12px;
    border: 1px solid #eee;
    background: #fff;
    padding: 0 12px;
    margin-bottom: 10px;
    color: #090a0c;
}

/* Blog-right-sidebar-end */

/* Instagram-area */
.instagram-area .insta-button{
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.instagram-area .insta-button .instaBtn{  
    font-size: 13px;
    font-weight: 500;
    background: #fff;
    padding: 15px 45px;
    color: #090a0c;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.instagram-area .insta-img-area a {
    display: block;
    flex: 0 0 16.667%;
    max-width: 16.667%;
    padding-left: 0;
    padding-right: 0;
}

@media only screen and (max-width: 768px) {
    .instagram-area .insta-img-area a {
        display: block;
        flex: 0 0 33.33%;
        max-width: 33.33%;
        padding-left: 0;
        padding-right: 0;
    }
}

@media only screen and (max-width: 576px) {
    .instagram-area .insta-img-area a {
        display: block;
        flex: 0 0 50%;
        max-width: 50%;
        padding-left: 0;
        padding-right: 0;
    }
}
/* Instagram-area-end */

/* Footer */

.footer-area{
    background: #082550;
}

.footer-col-details .hd-title{
    font-size: 18px;
    font-weight: 500;
    font-family: "Roboto",sans-serif;
    color: #ffffff;
    margin-bottom: 25px;
    line-height: 20px;
}

.footer-col-details .hd-lg-title{
    font-size: 35px;
    font-weight: 600;
}

.footer-col-details p{
    color: #888888e3;
}

.footer-col-details p:last-child{
    margin-bottom: 0;
}
.footer-col-details .menu li{
    display: block;
    margin-bottom: 13px;
}

.footer-col-details .menu li:not(:last-child){
    margin-bottom: 13px;
}

.footer-col-details .menu li a{
    color: #888888e3;
    font-size: 16px;
    font-family: "Roboto",sans-serif;
    transition: all .5s ease;
}

.footer-col-details .menu li a:hover{
    color: #384aeb;
}

.footer-col-details .img-list li{
    float: left;
    margin: 5px;
}

.footer-col-details .info{
    margin-left: 35px;
}

.info h6{
    margin-left:-40px!important;
    margin-bottom: 0;
}

.info i{
    width: 28px;
    height: 28px;
    background: #384aeb;
    text-align: center;
    line-height: 28px;
    margin-right: 10px;
    border-radius: 15px;
}

.info p:not(:last-child){
    margin-bottom: 10px;
}

.footer-area .p-tb{
    padding-top: 100px;
    padding-bottom: 110px;
}

.footer-bottom p{
    margin-bottom: 0;
}

.footer-bottom{
    padding: 30px;
    background: #000746;
}

/* Footer end  */

